<launch>
 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="hades_teleop" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>
<!-- rosserial node -->
   <node pkg="rosserial_python" type="serial_node.py"
  args="/dev/ttyACM0" name="serial_node" respawn="true"/>
<!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="1" type="double"/>
  <param name="scale_angular" value="1" type="double"/>
  <node pkg="hades_teleop_joy" type="hades_teleop_joy" name="master"/>
</launch>
